attrs
coloredlogs
connexion[swagger-ui]
cron-validator
dpath
flask-apscheduler
flask-cors
flask-dotenv
flask-sqlalchemy
flask_injector
gunicorn
hvac
prance
psycopg2-binary
python-dateutil
python-keycloak == 0.25.0
pyyaml
requests
tenacity
