From: {{ EMAIL_FROM }}
{% if EMAIL_REPLY_TO -%}
Reply-To: {{ EMAIL_REPLY_TO }}
{% endif -%}
Subject: [RHub] {% filter trim %}{% block subject %}{% endblock %}{% endfilter %}

{% filter trim %}{% block body %}{% endblock %}{% endfilter %}

{% if EMAIL_FOOTER_LINKS -%}
--
{% for link in EMAIL_FOOTER_LINKS | sort -%}
{{ link.title }}: {{ link.url }}
{% endfor -%}
{% endif -%}
