{% extends "_email.j2" %}

{% block subject %}
User "{{ user_name }}" has been deleted
{% endblock %}

{% block body %}
Hi,

{{ msg }}

Clusters and OpenStack projects the user owned have been reassigned to you, if they are no longer needed you can delete them. Clusters will be deleted automatically if don't extend their expiration, and OpenStack project will remain until you delete them.
{% endblock %}
